<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PdaIndex" />
        <activity android:name=".Order" />
        <activity android:name=".tow.OrderDetails" />
        <activity android:name=".InventoryQuery" />
        <activity android:name=".StockRemoval" />
        <activity android:name=".SameLibraryMove" />
        <activity android:name=".NoSamelibraryMove" />
        <activity android:name=".tow.XiaoTuiYanShou" />
        <activity android:name=".tow.LianHuoXIaJia" />
        <activity android:name=".tow.PanDianRenWu" />
        <activity android:name=".tow.BuHuoXiaJia" />
        <activity android:name=".tow.BuHuoShangJia" />
        <activity android:name=".tow.XiaoFanShangJia" />
        <activity android:name=".three.XiaoFanQingDan" />
        <activity android:name=".three.KuaYiKuQingDan" />
        <activity android:name=".three.ChuKuQingDan" />
        <activity android:name=".three.BuHuoQingDan"></activity>
    </application>

</manifest>